apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  labels:
    name: api
spec:
  replicas: 1
  selector:
    matchLabels:
      name: api
  template:
    metadata:
      labels:
        name: api
    spec:
      containers:
      - name: api
        image: josephrechdiner/mongo_test:v11
        ports:
        - containerPort: 8000
        env:
        - name: MONGO_HOST
          value: "mongo-0.mongo"
        - name: MONGO_PORT
          value: "27017"